body {
	background-color: #e5ebec;
	font-family: prompt;
}

h1 {
	text-align: center;
	font-size: 50px;
}


div {
	margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.centerpic {
	display: block;
	margin: auto;
	width: 80%;
}



button {
	display: block;
	margin: auto;
	font-family: prompt;
	width: 250px;
	height: 30px;
	font-size: 15px;
}